body{
  padding: 0px;
  margin:0px;
  background-color: #E4EDF3;
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
  left:32%;
  position:absolute;
  color: #f2562c;
}

h2{
  font-family: 'Karla', sans-serif;
  color: #f2562c;
  font-weight: lighter;
  position: absolute;
  left: 39%;
  top:20%;
}

a{
  font-family: 'Karla', sans-serif;
  color: #f2562c;
  font-weight: lighter;
  font-style: uppercase;
}

.dropButton1{
  width:180vh;
  height:70px;
  /* background-color: #ff8868; */
  background-color: #fbc3b4;
  position: absolute;
  top:33%;
  font-family:'Karla',sans-serif;
  font-size: 24px;
  text-align: center;
}

.buttonText1{
  position: relative;
  top:30%;
  color: white;
}

.dropButton2{
  width:180vh;
  height:70px;
  background-color: #ffb09b;
  position: absolute;
  top:43%;
  font-family:'Karla',sans-serif;
  font-size: 24px;
  text-align: center;
}

.buttonText2{
  position: relative;
  top:30%;
  color: white;
}

.dropButton3{
  width:180vh;
  height:70px;
  background-color: #ff9c81;
  position: absolute;
  top:53%;
  font-family:'Karla',sans-serif;
  font-size: 24px;
  text-align: center;
}

.buttonText3{
  position: relative;
  top:30%;
  color: white;
}


.dropButton4{
  width:180vh;
  height:70px;
  background-color: #fd8a6b;
  position: absolute;
  top:63%;
  font-family:'Karla',sans-serif;
  font-size: 24px;
  text-align: center;
}

.buttonText4{
  position: relative;
  top:30%;
  color: white;
}
